@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
/*Font for h1*/
/*font-family: 'Noto Serif', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/*Font for h2*/
/*font-family: 'Noto Serif', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
/*Font for h3*/
/*font-family: 'Nunito', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
/*Font for the p*/
/*font-family: 'Maven Pro', sans-serif;*/
*{
  margin: 0;
}
h1{
  font-family: 'Noto Serif', serif;
}
h2{
  font-family: 'Noto Serif', serif;
}
p{
  font-family: 'Maven Pro', sans-serif;
}
hr{
  width: auto;
}
header{
  display: flex;
  padding: 10px;
  box-shadow: 1px 1px 6px 1px #475B55;
}
.ignitionreads{
  margin-left: 10px;
}
nav ul{
  list-style: none;
  margin-left: 620px;
}
nav ul li{
  display: inline-block;
  padding-top: 30px;
  width: 130px;
  justify-content: space-evenly;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.3em;
}
a{
  text-decoration: none;
}
nav a{
  color: black;
}
nav ul li a:hover, nav ul li a:focus{
  color: #054282;
  background-color: #fff;
  font-weight: 900;
}
#centrebody{
  display: block;
  margin: 12px 270px; 
  padding: 15px;
  background-color: #CDD9E6;
/*whitish color*/

}